<IfModule mod_headers.c>

  # Correct MIME types
  AddType application/javascript .js
  AddType application/wasm .wasm
  AddType application/octet-stream .data

  # Unity Gzip compressed files
  <FilesMatch "\.(js|wasm|data)\.gz$">
    Header set Content-Encoding gzip
    Header set Content-Type application/octet-stream
  </FilesMatch>

</IfModule>
